<!-- start custom head snippets -->

<head>
    <!-- ... -->

    <style>
        @font-face {
            font-family: "Computer Modern Sans";
            src: url("/assets/fonts/cmunss.ttf") format('truetype');
            font-weight: sans-serif;
            font-style: normal;
        }

        body {
            font-family: "Computer Modern Sans", sans-serif;
        }
    </style>
</head>

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">

<!-- end custom head snippets -->